include ../../node_modules/bemto.pug/bemto
include helpers/variables
include helpers/mixins


doctype html
html
	head
		title CoursesCategory
		include inc/head
	body(class="p-CoursesCategory")
		include partials/header
		+b('')(style='background-image: url(../img/pic-coursesCategory.jpg)').top-page._blackout
			.container
				.top-title
					+b('').title-2 Courses in Design
				.input-grups
					.search-input1
						input(type="text" placeholder="Search course title, keywords, etc." class="search search_border")
						+svg-icon('search')
					.search-input2
						input(type="text" placeholder="Search city, province/state, etc." class="search")
						+svg-icon('pin')
					.search-button
						button(type="submit" class="search-button__submit")
							span Find Course
		.content
			.container
				.content-title-category
					+b('').title-2 38 courses in Design	
				.row
					.col-lg-4
						.content-left
							.content-left__top.content-left__top_category
								.title-selection Location
								.location-input
									input(type="text" placeholder="Ex: California" class="input")
								.title-selection Course category
								select.select
									option All category
								.title-selection Course type
								.category-checkbox
									.row.row-margin
										.col
											+b('').checkbox
												+e('input')(type='checkbox' id='checkbox_1').input
												+e('label')(for='checkbox_1').label All
										.col
											+b('').checkbox
												+e('input')(type='checkbox' id='checkbox_2').input
												+e('label')(for='checkbox_2').label Full Time
									.row.row-margin
										.col
											+b('').checkbox
												+e('input')(type='checkbox' id='checkbox_3').input
												+e('label')(for='checkbox_3').label Online Course
										.col
											+b('').checkbox
												+e('input')(type='checkbox' id='checkbox_4').input
												+e('label')(for='checkbox_4').label Part Time
									.row
										.col
											+b('').checkbox
												+e('input')(type='checkbox' id='checkbox_5').input
												+e('label')(for='checkbox_5').label Live Online Course
								.title-selection Date
								.input-date-groups
									.input-datapicker
										input(type="text" placeholder="From" class="datepicker")
										+svg-icon('calendar')
									.input-datapicker
										input(type="text" placeholder="To" class="datepicker")
										+svg-icon('calendar')
								.categoty-button-groups
									button.img-top-button.img-top-button_size
										span.position Apply Filter
									button.img-top-button.img-top-button_size.img-top-button_color
										span.position Reset
					.col-lg-8
						.content-right-category
							- for(var i = 0; i < 5; i++)
								.courses-category
									.courses-category__left
										img(src="../img/pic-content-category.png" class="category-img")
										.courses-category-date
											.courses-category-date__top
												+b('').title-2 May 29
											.courses-category-date__bottom 12 weeks
									.courses-category__right
										.courses-category-title
											+b('').title-2 Visual Design
										.courses-category-time full-time course
										.courses-category-location California
											+svg-icon('location')
										.short-category-description Want to become a professional viusal designer? This is how it's done. In this intensive, fully immersive 12-week

		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")